
header{
    background-image: url(/kadai/img/antelopecanion.jpg);
   margin:0;
    text-align: center;
    font-family: Noto Serif Japanese;
}

header.h1{
    color: #fff;
}

header.h3{
    color: rgb(51, 51, 51);
}
main{
    background-image: url(/kadai/img/paper_00041.jpg);
    background-size:cover;                 
    width:100%;                              
    height:700px;  
}



.options{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    font-style: 16px;
    
}
#two_multi_btn{
        /* border-radius: 5%; */
        border-radius: 10px;
        width: 400px;
       
        color: rgb(12, 0, 0);

        background-color: #babab9a3;
        border-bottom: 2px solid #b84c00;
        padding: 20px;
      }
#two_multi_btn:hover {
        color: #fff;
        
        border-bottom: 5px solid #b84c00;
      }
#two_multi_btn--shadow {
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
      }
 
      

 #three_multi_btn{
        border-radius: 10px;
        width: 300px;
        color: rgb(9, 9, 9);
        background-color: #acaaa9;
        border-bottom: 2px solid #998a05;
        
      }
#three_multi_btn:hover {
        color: rgb(248, 247, 247);
        border-bottom: 5px solid #998a05;
      }
#three_multi_btn--shadow {
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
      }

#two_div_btn{
        border-radius: 10px;
        width: 400px;
       
        color: rgb(12, 0, 0);

        background-color: #666665;
        border-bottom: 2px solid #0668a1;
        padding: 20px;
      }
#two_div_btn:hover {
        
        
        color: #fff;
        
        border-bottom: 5px solid #0668a1;
      }
#two_div_btn--shadow {
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
      }

 #decimal_div_btn{
        border-radius: 10px;
        width: 300px;
        color: #fff;
        background-color: #4b4b4a;
        border-bottom: 2px solid #001f90;
      }
#decimal_div_btn:hover {
        
        color: rgb(12, 0, 0);
        
        border-bottom: 5px solid #001f90;
      }
#decimal_div_btn--shadow {
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
      }

.questions{
    display: flex;
    justify-content:space-around;
    margin-right: 200px;
    margin-left: 200px;
    font-weight: bold;
    font-size: 50px;}

    #next_btn{
        border-radius: 10px;
        width: 200px;
        color: #fff;
        margin-left: 80%;
        background-color: #acaaa9;
        
        font-size: 50px;
        text-align: center;
      }
      #next_btn:hover{
        
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
      }

#timer{
    font-size:5em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #9b9b9b;
	text-shadow: 0.02em 0.02em 0.02em rgba(0,0,0,1);
}

#sentence{
    text-align: right;
    margin-right: 100px;
}